<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="OpenAI:Endpoint" value="AZ-OPENAI-ENDPOINT" />
  <add key="OpenAI:ChatDeployment" value="GPT-MODEL" />
  <add key="OpenAI:EmbeddingDeployment" value="EMBEDDING-MODEL" />
  <add key="Search:Endpoint" value="AZ-SEARCH-ENDPOINT" />
  <add key="Search:IndexName" value="AZ-SEARCH-INDEX" />
  <add key="OpenAI:Key" value="AZ-OPENAI-KEY" />
  <add key="Search:Key" value="AZ-SEARCH-KEY" />
</appSettings>
</configuration>